# Module 2 Final Project Specifications

## Introduction

In this lesson, we'll review all the guidelines and specifications for the final project for Module 2. 

### Objectives

* Understand all required aspects of the Final Project for Module 2
* Understand all required deliverables
* Understand what constitutes a successful project

### Final Project Summary

Another module down--you're half way there!

< img src='halfway-there.gif'>

For the culmination of Module 2, you just need to complete the final project!

### The Project

For this project, you'll be working with the Northwind database--a free, open-source dataset created by Microsoft containing data from a fictional company. You probably remember the Northwind database from our section on Advanced SQL. Here's the schema for the Northwind database:

<img src='Northwind_ERD.png' width=400>

## The Deliverables
> The goal of this project is to test your ability to gather information from a real-world database and use your knowledge of statistical analysis and hypothesis testing to generate analytical insights that can be of value to the company.
### Hypothesis Testing

You will need query the database to get the data needed to perform a statistical analysis.  In this statistical analysis, **you'll need to perform a hypothesis test (or perhaps several) to answer the following question:**

> **_Do discounts have a statistically significant effect on the number of products customers order? If so, at what level(s) of discount?_**

## Brainstorming**
- Must extract # of products order by customers
    - SELECT OrderID,UnitPrice, Quantity, Discount from Order Details 
    - OrderID foreign key to Orders
        - SELECT CustomerID FROM Orders
    -

In addition to answering this question with a hypothesis test, you will also need to come up with **_at least 3 other hypotheses to test on your own_**.  These can by anything that you think could be imporant information for the company. 

[ ] Do this

For this hypothesis, be sure to specify both the **_null hypothesis_** and the **_alternative hypothesis_** for your question.  You should also specify if this is one-tail or a two-tail test. 

To complete this project, you will need to turn in the following 3 deliverables:

1. A **_Jupyter Notebook_** containing any code you've written for this project. 
2. A **_Blog Post_** explaining your process, methodology, and findings.  
3. An **_"Executive Summary" PowerPoint Presentation_** that explains the hypothesis tests you ran, your findings, and their relevance to company stakeholders.

### Jupyter Notebook Must-Haves

For this project, your jupyter notebook should meet the following specifications:

**_Organization/Code Cleanliness_**

* The notebook should be well organized, easy to follow, and code is commented where appropriate.  
<br>  
    * Level Up: The notebook contains well-formatted, professional looking markdown cells explaining any substantial code. All functions have docstrings that act as professional-quality documentation.  
<br>      
* The notebook is written to technical audiences with a way to both understand your approach and reproduce your results. The target audience for this deliverable is other data scientists looking to validate your findings.  
<br>    
* Any SQL code written to source data should also be included.  

**_Findings_**

* Your notebook should clearly show how you arrived at your results for each hypothesis test, including how you calculated your p-values.   
<br>
* You should also include any other statistics that you find relevant to your analysis, such as effect size.

### Blog Post Must-Haves

Your blog post should include everything from how you identified what tables contained the information you need, to how you retrieved it using SQL (and any challenges you ran into while doing so), as well as your methodology and results for your hypothesis tests. 

**_NOTE:_**  This blog post is your way of showcasing the work you've done on this project--chances are it will soon be read by a recruiter or hiring manager! Take the time to make sure that you craft your story well, and clearly explain your process and findings in a way that clearly shows both your technical expertise **_and_** your ability to communicate your results!

### Executive Summary Must-Haves

Your presentation should:

* Contain between 5-10 professional quality slides detailing:
<br>  
    * A high-level overview of your methodology  
    <br>  
    * The results of your hypothesis tests  
    <br>  
    * Any real-world recommendations you would like to make based on your findings (ask yourself--why should the executive team care about what you found? How can your findings help the company?)  
    <br>  
* Take no more than 5 minutes to present  
<br>  
* Avoid technical jargon and explain results in a clear, actionable way for non-technical audiences.

# Outline of Data Processing and Analysis<br> (using OSEMN model)

1. **OBTAIN:**
    - **Import data, inspect, check for datatypes to convert and null values**<br>
        - Display header and info
        - Drop any unneeded columns (df.drop(['col1','col2'],axis=1)

2. **SCRUB: cast data types, identify outliers, check for multicollinearity, normalize data**<br>
    - Check and cast data types
        - [ ] Check for #'s that are store as objects (df.info())
            - when converting to #'s, look for odd values (like many 0's), or strings that can't be converted
            - Decide how to deal weird/null values (df.unique(), df.isna().sum(), df.describe()-min/max, etc
        - [ ]  Check for categorical variables stored as integers
    - [ ] Check for missing values  (df.isna().sum())
        - Can drop rows or colums
        - For missing numeric data with median or bin/convert to categorical
        - For missing categorical data: make NaN own category OR replace with most common category
    - [ ] Check for multicollinearity
         - use seaborn to make correlation matrix plot [Evernote Link](https://www.evernote.com/l/AArNyaEwjA5JUL6I9PazHs_ts_hU-m7ja1I/) 
        - Good rule of thumb is anything over 0.75 corr is high, remove the variable that has the most correl with the largest # of variables
    - [ ] Normalize data (may want to do after some exploring)
        - Most popular is Z-scoring (but won't fix skew) 
        - Can log-transform to fix skewed data
    
            
3. **EXPLORE:Check distributions, outliers, etc**
    - [ ] Check scales, ranges (df.describe())
    - [ ] Check histograms to get an idea of distributions (df.hist()) and dat transformations to perform
        - Can also do kernel density estimates
    - [ ] Use scatterplots to check for linearity and possible categorical variables (df.plot(kind-'scatter')
        - categoricals will look like vertical lines
    - [ ] Use pd.plotting.scatter_matrix to visualize possible relationships
    - [ ] Check for linearity

   
4. **FIT AN INITIAL MODEL:** 
    - Various forms, detail later...
    - **Assessing the model:**
        - Assess parameters (slope,intercept)
        - Check if the model explains the variation in the data (RMSE, F, R_square)
        - *Are the coeffs, slopes, intercepts in appropriate units?*
        - *Whats the impact of collinearity? Can we ignore?*
5. **Revise the fitted model**
    - Multicollinearity is big issue for lin regression and cannot fully remove it
    - Use the predictive ability of model to test it (like R2 and RMSE)
    - Check for missed non-linearity
6. **Holdout validation / Train/test split**
    - use sklearn train_test_split 
___

# Import functions from project 1:

In [1]:
# Normal packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
%matplotlib inline

# Statsmodels

import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.stats.api as sms

import scipy.stats as stats


# Counter
from collections import Counter

# Sklearn
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler
import sklearn.metrics as metrics


import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.orm import Session, sessionmaker
from sqlalchemy import inspect

In [2]:
# Check columns returns the datatype, null values and unique values of input series 
def check_column(series,nlargest='all'):
    print(f"Column: df['{series.name}']':")
    print(f"dtype: {series.dtype}")
    print(f"isna: {series.isna().sum()} out of {len(series)} - {round(series.isna().sum()/len(series)*100,3)}%")
        
    print(f'\nUnique non-na values:') #,df['waterfront'].unique())
    if nlargest =='all':
        print(series.value_counts())
    else:
        print(series.value_counts().nlargest(nlargest))

In [3]:
# MULTIPLOT
from string import ascii_letters
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt


def multiplot(df):

    sns.set(style="white")

    # Compute the correlation matrix
    corr = df.corr()

    # Generate a mask for the upper triangle
    mask = np.zeros_like(corr, dtype=np.bool)
    mask[np.triu_indices_from(mask)] = True

    # Set up the matplotlib figure
    f, ax = plt.subplots(figsize=(16, 16))

    # Generate a custom diverging colormap
    cmap = sns.diverging_palette(220, 10, as_cmap=True)

    # Draw the heatmap with the mask and correct aspect ratio
    sns.heatmap(corr, mask=mask, annot=True, cmap=cmap, center=0,
                
    square=True, linewidths=.5, cbar_kws={"shrink": .5}) #

In [4]:
#SEABORN
import matplotlib.ticker as mtick
import matplotlib.pyplot as plt

# Plots histogram and scatter (vs price) side by side
def plot_hist_scat_sns(df,target='price'):
    plt.style.use('dark_background')

    
    ## ----------- DEFINE AESTHETIC CUSTOMIZATIONS ----------- ##
    # Axis Label fonts
    fontTitle = {'fontsize': 16,
               'fontweight': 'bold',
                'fontfamily':'serif'}

    fontAxis = {'fontsize': 14,
               'fontweight': 'bold',
                'fontfamily':'serif'}

    fontTicks = {'fontsize': 12,
               'fontweight':'bold',
                'fontfamily':'serif'}

    # Formatting dollar sign labels
    fmtPrice = '${x:,.0f}'
    tickPrice = mtick.StrMethodFormatter(fmtPrice)
    

    ## ----------- PLOTTING ----------- ##
    
    ## Loop through dataframe to plot
    for column in df.describe():
    
        # Create figure with subplots for current column
        # Note: in order to use identical syntax for large # of subplots (ax[i,j]), 
        #  declare an extra row of subplots to be removed later
        fig, ax = plt.subplots(figsize=(12,10), ncols=2, nrows=2)

        ## ----- SUBPLOT 1 -----##
        i,j = 0,0
        ax[i,j].set_title(column.capitalize(),fontdict=fontTitle)
        
        # Define graphing keyword dictionaries for distplot (Subplot 1)
        hist_kws = {"linewidth": 1, "alpha": 1, "color": 'blue','edgecolor':'w'}
        kde_kws = {"color": "white", "linewidth": 1, "label": "KDE"}
        
        # Plot distplot on ax[i,j] using hist_kws and kde_kws
        sns.distplot(df[column], norm_hist=True, kde=True,
                     hist_kws = hist_kws, kde_kws = kde_kws,
                     label=column+' histogram', ax=ax[i,j])
 

        # Set x axis label
        ax[i,j].set_xlabel(column.title(),fontdict=fontAxis)
    
        # Get x-ticks, rotate labels, and return
        xticklab1 = ax[i,j].get_xticklabels(which = 'both')
        ax[i,j].set_xticklabels(labels=xticklab1, fontdict=fontTicks, rotation=45)
        ax[i,j].xaxis.set_major_formatter(mtick.ScalarFormatter())

        
        # Set y-label 
        ax[i,j].set_ylabel('Density',fontdict=fontAxis)
        yticklab1=ax[i,j].get_yticklabels(which='both')
        ax[i,j].set_yticklabels(labels=yticklab1,fontdict=fontTicks)
        ax[i,j].yaxis.set_major_formatter(mtick.ScalarFormatter())
        
        
        # Set y-grid
        ax[i, j].set_axisbelow(True)
        ax[i, j].grid(axis='y',ls='--')

        
        ## ----- SUBPLOT 2-----  ##
        i,j = 0,1
        ax[i,j].set_title(column.capitalize(),fontdict=fontTitle)

        # Define the ketword dictionaries for  scatter plot and regression line (subplot 2)
        line_kws={"color":"white","alpha":0.5,"lw":4,"ls":":"}
        scatter_kws={'s': 2, 'alpha': 0.5,'marker':'.','color':'blue'}

        # Plot regplot on ax[i,j] using line_kws and scatter_kws
        sns.regplot(df[column], df[target], 
                    line_kws = line_kws,
                    scatter_kws = scatter_kws,
                    ax=ax[i,j])
        
        # Set x-axis label
        ax[i,j].set_xlabel(column.title(),fontdict=fontAxis)

         # Get x ticks, rotate labels, and return
        xticklab2=ax[i,j].get_xticklabels(which='both')
        ax[i,j].set_xticklabels(labels=xticklab2,fontdict=fontTicks, rotation=45)
        ax[i,j].xaxis.set_major_formatter(mtick.ScalarFormatter())

        # Set  y-axis label
        ax[i,j].set_ylabel('Price',fontdict=fontAxis)
        
        # Get, set, and format y-axis Price labels
        yticklab = ax[i,j].get_yticklabels()
        ax[i,j].set_yticklabels(yticklab,fontdict=fontTicks)
        ax[i,j].get_yaxis().set_major_formatter(tickPrice) 

        # Set y-grid
        ax[i, j].set_axisbelow(True)
        ax[i, j].grid(axis='y',ls='--')       
        
        ## ---------- Final layout adjustments ----------- ##
        # Deleted unused subplots 
        fig.delaxes(ax[1,1])
        fig.delaxes(ax[1,0])

        # Optimizing spatial layout
        fig.tight_layout()
        figtitle=column+'_dist_regr_plots.png'
        plt.savefig(figtitle)
    return

In [5]:
# Tukey's method using IQR to eliminate 
def detect_outliers(df,n,features):
    outlier_indices = []
    # iterate over features(columns)
    for col in features:
        # 1st quartile (25%)
        Q1 = np.percentile(df[col], 25)
        # 3rd quartile (75%)
        Q3 = np.percentile(df[col],75)
        # Interquartile range (IQR)
        IQR = Q3 - Q1
        # outlier step
        outlier_step = 1.5 * IQR
        # Determine a list of indices of outliers for feature col
        outlier_list_col = df[(df[col] < Q1 - outlier_step) | (df[col] > Q3 + outlier_step )].index
        # append the found outlier indices for col to the list of outlier indices 
        outlier_indices.extend(outlier_list_col)
        # select observations containing more than 2 outliers
        outlier_indices = Counter(outlier_indices)        
        multiple_outliers = list( k for k, v in outlier_indices.items() if v > n )
        return multiple_outliers 
# Outliers_to_drop = detect_outliers(data,2,["col1","col2"])
# df.loc[Outliers_to_drop] # Show the outliers rows
# Drop outliers
# data= data.drop(Outliers_to_drop, axis = 0).reset_index(drop=True)

## Defining New Functions

In [6]:
def list2df(list):#, sort_values='index'):
    """ Take in a list where row[0] = column_names and outputs a dataframe.
    
    Keyword arguments:
    set_index -- df.set_index(set_index)
    sortby -- df.sorted()
    """    
    
    df_list = pd.DataFrame(list[1:],columns=list[0])
    df_list = df_list[1:]

    return df_list

In [7]:
def  get_col_info(col_name):
    
    col_list = inspector.get_columns(col_name)
    
    column_info = [['table','column','dtype']]
    print(f'Table Name: {col_name}\n')

    for col in col_list:
        column_info.append([str(col_name),col['name'], col['type']])
        
    df = list2df(column_info)
    return column_info

In [35]:
def  get_full_table_info(engine):
    
    column_info = [['table','column','dtype']]
    
    list_tables= engine.table_names()
    
    for table in list_tables:
        
        col_list = inspector.get_columns(table)
        
        for col in col_list:
            
            column_info.append([str(table),col['name'], col['type'],col['']])
            inspector.get_foreign_keys()
    
    df = list2df(column_info)
    return df

# IMPORTING DATA

In [32]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.orm import Session, sessionmaker
from sqlalchemy import inspect

engine = create_engine("sqlite:///Northwind_small.sqlite",echo=True)
Session = sessionmaker(bind=engine)
session = Session()

In [42]:
inspector = inspect(engine);
print(inspector.get_table_names())

2019-03-30 01:20:50,397 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-03-30 01:20:50,398 INFO sqlalchemy.engine.base.Engine ()
['Category', 'Customer', 'CustomerCustomerDemo', 'CustomerDemographic', 'Employee', 'EmployeeTerritory', 'Order', 'OrderDetail', 'Product', 'Region', 'Shipper', 'Supplier', 'Territory']

In [55]:
# Connect to engine and select table_to_get 
con = engine.connect()
table_to_get = 'Employee'
df = pd.read_sql_query(f'SELECT * FROM {table_to_get}', engine)
# SELECT

2019-03-30 01:33:17,829 INFO sqlalchemy.engine.base.Engine SELECT * FROM Employee
2019-03-30 01:33:17,830 INFO sqlalchemy.engine.base.Engine ()

In [54]:
table_dict = {table_to_get : df}
table_dict
# rs = con.execute()
# df_fetch = pd.DataFrame(rs.fetchall())

2019-03-30 01:32:17,293 INFO sqlalchemy.engine.base.Engine SELECT * FROM Employee
2019-03-30 01:32:17,294 INFO sqlalchemy.engine.base.Engine ()

{'Employee':    Id   LastName FirstName                     Title TitleOfCourtesy  \
 0   1    Davolio     Nancy      Sales Representative             Ms.
 1   2     Fuller    Andrew     Vice President, Sales             Dr.
 2   3  Leverling     Janet      Sales Representative             Ms.
 3   4    Peacock  Margaret      Sales Representative            Mrs.
 4   5   Buchanan    Steven             Sales Manager             Mr.
 5   6     Suyama   Michael      Sales Representative             Mr.
 6   7       King    Robert      Sales Representative             Mr.
 7   8   Callahan     Laura  Inside Sales Coordinator             Ms.
 8   9  Dodsworth      Anne      Sales Representative             Ms.

     BirthDate    HireDate                        Address      City  \
 0  1980-12-08  2024-05-01     507 - 20th Ave. E. Apt. 2A   Seattle
 1  1984-02-19  2024-08-14             908 W. Capital Way    Tacoma
 2  1995-08-30  2024-04-01             722 Moss Bay Blvd.  Kirkland
 3  1969-09-19  2025-05-03           4110 Old Redmond Rd.   Redmond
 4  1987-03-04  2025-10-17                14 Garrett Hill    London
 5  1995-07-02  2025-10-17       Coventry House Miner Rd.    London
 6  1992-05-29  2026-01-02  Edgeham Hollow Winchester Way    London
 7  1990-01-09  2026-03-05          4726 - 11th Ave. N.E.   Seattle
 8  1998-01-27  2026-11-15              7 Houndstooth Rd.    London

           Region PostalCode Country       HomePhone Extension Photo  \
 0  North America      98122     USA  (206) 555-9857      5467  None
 1  North America      98401     USA  (206) 555-9482      3457  None
 2  North America      98033     USA  (206) 555-3412      3355  None
 3  North America      98052     USA  (206) 555-8122      5176  None
 4  British Isles    SW1 8JR      UK   (71) 555-4848      3453  None
 5  British Isles    EC2 7JR      UK   (71) 555-7773       428  None
 6  British Isles    RG1 9SP      UK   (71) 555-5598       465  None
 7  North America      98105     USA  (206) 555-1189      2344  None
 8  British Isles    WG2 7LT      UK   (71) 555-4444       452  None

                                                Notes  ReportsTo  \
 0  Education includes a BA in psychology from Col...        2.0
 1  Andrew received his BTS commercial in 1974 and...        NaN
 2  Janet has a BS degree in chemistry from Boston...        2.0
 3  Margaret holds a BA in English literature from...        2.0
 4  Steven Buchanan graduated from St. Andrews Uni...        2.0
 5  Michael is a graduate of Sussex University (MA...        5.0
 6  Robert King served in the Peace Corps and trav...        5.0
 7  Laura received a BA in psychology from the Uni...        2.0
 8  Anne has a BA degree in English from St. Lawre...        5.0

                                 PhotoPath
 0    http://accweb/emmployees/davolio.bmp
 1     http://accweb/emmployees/fuller.bmp
 2  http://accweb/emmployees/leverling.bmp
 3    http://accweb/emmployees/peacock.bmp
 4   http://accweb/emmployees/buchanan.bmp
 5    http://accweb/emmployees/davolio.bmp
 6    http://accweb/emmployees/davolio.bmp
 7    http://accweb/emmployees/davolio.bmp
 8    http://accweb/emmployees/davolio.bmp  }

In [51]:
df

,Id,LastName,FirstName,Title,TitleOfCourtesy,BirthDate,HireDate,Address,City,Region,PostalCode,Country,HomePhone,Extension,Photo,Notes,ReportsTo,PhotoPath
0,1,Davolio,Nancy,Sales Representative,Ms.,1980-12-08,2024-05-01,507 - 20th Ave. E. Apt. 2A,Seattle,North America,98122,USA,(206) 555-9857,5467,None,Education includes a BA in psychology from Col...,2.0,http://accweb/emmployees/davolio.bmp
1,2,Fuller,Andrew,"Vice President, Sales",Dr.,1984-02-19,2024-08-14,908 W. Capital Way,Tacoma,North America,98401,USA,(206) 555-9482,3457,None,Andrew received his BTS commercial in 1974 and...,NaN,http://accweb/emmployees/fuller.bmp
2,3,Leverling,Janet,Sales Representative,Ms.,1995-08-30,2024-04-01,722 Moss Bay Blvd.,Kirkland,North America,98033,USA,(206) 555-3412,3355,None,Janet has a BS degree in chemistry from Boston...,2.0,http://accweb/emmployees/leverling.bmp
3,4,Peacock,Margaret,Sales Representative,Mrs.,1969-09-19,2025-05-03,4110 Old Redmond Rd.,Redmond,North America,98052,USA,(206) 555-8122,5176,None,Margaret holds a BA in English literature from...,2.0,http://accweb/emmployees/peacock.bmp
4,5,Buchanan,Steven,Sales Manager,Mr.,1987-03-04,2025-10-17,14 Garrett Hill,London,British Isles,SW1 8JR,UK,(71) 555-4848,3453,None,Steven Buchanan graduated from St. Andrews Uni...,2.0,http://accweb/emmployees/buchanan.bmp
5,6,Suyama,Michael,Sales Representative,Mr.,1995-07-02,2025-10-17,Coventry House Miner Rd.,London,British Isles,EC2 7JR,UK,(71) 555-7773,428,None,Michael is a graduate of Sussex University (MA...,5.0,http://accweb/emmployees/davolio.bmp
6,7,King,Robert,Sales Representative,Mr.,1992-05-29,2026-01-02,Edgeham Hollow Winchester Way,London,British Isles,RG1 9SP,UK,(71) 555-5598,465,None,Robert King served in the Peace Corps and trav...,5.0,http://accweb/emmployees/davolio.bmp
7,8,Callahan,Laura,Inside Sales Coordinator,Ms.,1990-01-09,2026-03-05,4726 - 11th Ave. N.E.,Seattle,North America,98105,USA,(206) 555-1189,2344,None,Laura received a BA in psychology from the Uni...,2.0,http://accweb/emmployees/davolio.bmp
8,9,Dodsworth,Anne,Sales Representative,Ms.,1998-01-27,2026-11-15,7 Houndstooth Rd.,London,British Isles,WG2 7LT,UK,(71) 555-4444,452,None,Anne has a BA degree in English from St. Lawre...,5.0,http://accweb/emmployees/davolio.bmp

In [36]:
df_tables = get_full_table_info(engine)

2019-03-30 01:00:08,613 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-03-30 01:00:08,613 INFO sqlalchemy.engine.base.Engine ()
2019-03-30 01:00:08,616 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Customer")
2019-03-30 01:00:08,617 INFO sqlalchemy.engine.base.Engine ()
2019-03-30 01:00:08,620 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("CustomerCustomerDemo")
2019-03-30 01:00:08,621 INFO sqlalchemy.engine.base.Engine ()
2019-03-30 01:00:08,624 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("CustomerDemographic")
2019-03-30 01:00:08,625 INFO sqlalchemy.engine.base.Engine ()
2019-03-30 01:00:08,628 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Employee")
2019-03-30 01:00:08,629 INFO sqlalchemy.engine.base.Engine ()
2019-03-30 01:00:08,632 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("EmployeeTerritory")
2019-03-30 01:00:08,632 INFO sqlalchemy.engine.base.Engine ()
2019-03-30 01:00:08,635 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Order")
2019-03-30 01:00:08,636 INFO sqlalchemy.engine.base.Engine ()
2019-03-30 01:00:08,638 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("OrderDetail")
2019-03-30 01:00:08,639 INFO sqlalchemy.engine.base.Engine ()
2019-03-30 01:00:08,641 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Product")
2019-03-30 01:00:08,642 INFO sqlalchemy.engine.base.Engine ()
2019-03-30 01:00:08,645 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Region")
2019-03-30 01:00:08,645 INFO sqlalchemy.engine.base.Engine ()
2019-03-30 01:00:08,648 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Shipper")
2019-03-30 01:00:08,650 INFO sqlalchemy.engine.base.Engine ()
2019-03-30 01:00:08,652 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Supplier")
2019-03-30 01:00:08,653 INFO sqlalchemy.engine.base.Engine ()
2019-03-30 01:00:08,655 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Territory")
2019-03-30 01:00:08,656 INFO sqlalchemy.engine.base.Engine ()

In [40]:
df_tables['table'].unique()
df_tables

                   table                column          dtype
1               Category          CategoryName  VARCHAR(8000)
2               Category           Description  VARCHAR(8000)
3               Customer                    Id  VARCHAR(8000)
4               Customer           CompanyName  VARCHAR(8000)
5               Customer           ContactName  VARCHAR(8000)
6               Customer          ContactTitle  VARCHAR(8000)
7               Customer               Address  VARCHAR(8000)
8               Customer                  City  VARCHAR(8000)
9               Customer                Region  VARCHAR(8000)
10              Customer            PostalCode  VARCHAR(8000)
11              Customer               Country  VARCHAR(8000)
12              Customer                 Phone  VARCHAR(8000)
13              Customer                   Fax  VARCHAR(8000)
14  CustomerCustomerDemo                    Id  VARCHAR(8000)
15  CustomerCustomerDemo        CustomerTypeId  VARCHAR(8000)
16   CustomerDemographic                    Id  VARCHAR(8000)
17   CustomerDemographic          CustomerDesc  VARCHAR(8000)
18              Employee                    Id        INTEGER
19              Employee              LastName  VARCHAR(8000)
20              Employee             FirstName  VARCHAR(8000)
21              Employee                 Title  VARCHAR(8000)
22              Employee       TitleOfCourtesy  VARCHAR(8000)
23              Employee             BirthDate  VARCHAR(8000)
24              Employee              HireDate  VARCHAR(8000)
25              Employee               Address  VARCHAR(8000)
26              Employee                  City  VARCHAR(8000)
27              Employee                Region  VARCHAR(8000)
28              Employee            PostalCode  VARCHAR(8000)
29              Employee               Country  VARCHAR(8000)
30              Employee             HomePhone  VARCHAR(8000)
..                   ...                   ...            ...
59               Product                    Id        INTEGER
60               Product           ProductName  VARCHAR(8000)
61               Product            SupplierId        INTEGER
62               Product            CategoryId        INTEGER
63               Product       QuantityPerUnit  VARCHAR(8000)
64               Product             UnitPrice        DECIMAL
65               Product          UnitsInStock        INTEGER
66               Product          UnitsOnOrder        INTEGER
67               Product          ReorderLevel        INTEGER
68               Product          Discontinued        INTEGER
69                Region                    Id        INTEGER
70                Region     RegionDescription  VARCHAR(8000)
71               Shipper                    Id        INTEGER
72               Shipper           CompanyName  VARCHAR(8000)
73               Shipper                 Phone  VARCHAR(8000)
74              Supplier                    Id        INTEGER
75              Supplier           CompanyName  VARCHAR(8000)
76              Supplier           ContactName  VARCHAR(8000)
77              Supplier          ContactTitle  VARCHAR(8000)
78              Supplier               Address  VARCHAR(8000)
79              Supplier                  City  VARCHAR(8000)
80              Supplier                Region  VARCHAR(8000)
81              Supplier            PostalCode  VARCHAR(8000)
82              Supplier               Country  VARCHAR(8000)
83              Supplier                 Phone  VARCHAR(8000)
84              Supplier                   Fax  VARCHAR(8000)
85              Supplier              HomePage  VARCHAR(8000)
86             Territory                    Id  VARCHAR(8000)
87             Territory  TerritoryDescription  VARCHAR(8000)
88             Territory              RegionId        INTEGER

[88 rows x 3 columns]

## Exported SQL query from Tableau 2018 - on full Northwind.sl3-
```SQL
SELECT "Products"."CategoryID" AS "CategoryID",
  "Orders"."CustomerID" AS "CustomerID",
  "Products"."Discontinued" AS "Discontinued",
  "Order_Details"."Discount" AS "Discount",
  "Orders"."EmployeeID" AS "EmployeeID",
  "Orders"."Freight" AS "Freight",
  "Orders"."OrderDate" AS "OrderDate",
  "Orders"."OrderID" AS "OrderID",
  "Order_Details"."OrderID" AS "OrderID__Order_Details_",
  "Order_Details"."ProductID" AS "ProductID",
  "Products"."ProductID" AS "ProductID__Products_",
  "Products"."ProductName" AS "ProductName",
  "Order_Details"."Quantity" AS "Quantity",
  "Products"."QuantityPerUnit" AS "QuantityPerUnit",
  "Products"."ReorderLevel" AS "ReorderLevel",
  "Orders"."RequiredDate" AS "RequiredDate",
  "Orders"."ShipAddress" AS "ShipAddress",
  "Orders"."ShipCity" AS "ShipCity",
  "Orders"."ShipCountry" AS "ShipCountry",
  "Orders"."ShipName" AS "ShipName",
  "Orders"."ShipPostalCode" AS "ShipPostalCode",
  "Orders"."ShipRegion" AS "ShipRegion",
  "Orders"."ShipVia" AS "ShipVia",
  "Orders"."ShippedDate" AS "ShippedDate",
  "Products"."SupplierID" AS "SupplierID",
  "Order_Details"."UnitPrice" AS "UnitPrice",
  "Products"."UnitPrice" AS "UnitPrice__Products_",
  "Products"."UnitsInStock" AS "UnitsInStock",
  "Products"."UnitsOnOrder" AS "UnitsOnOrder"
FROM "Orders"
  LEFT JOIN "Order Details" "Order_Details" ON ("Orders"."OrderID" = "Order_Details"."OrderID")
  LEFT JOIN "Products" ON ("Order_Details"."ProductID" = "Products"."ProductID")
```